<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="cucumber test" verbose="1" parallel="tests"
       thread-count="1" configfailurepolicy="continue">
    <listeners>
        <listener class-name="Utility.Reporting"></listener>
    </listeners>
    <test name="prueba garaje" annotations="JDK"
          preserve-order="true">
        <classes>
            <class name="runner.TestRunner">
                <methods>
                    <include name="runScenario" />
                </methods>
            </class>
        </classes>
    </test>
</suite>